@import url(./reset.css);

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../image/wall.png);
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    border-bottom: 5px solid #cca634;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
    margin-top: 10px;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid #8a2be2;
    background-color: #ffebcd;
}

.enemy {
    background-image: url(../image/ralph.png);
    background-size: cover;
}